body {
    background-color: rgb(71, 66, 104);
    color: rgb(108, 102, 147);
    font-size: 20px;
    font: italic;
    font-weight: 800;
}


main {
    border: solid 10px rgb(98, 65, 47);
    background-color: rgb(108, 102, 147);
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    color: rgb(47, 41, 87);
    font-size: 50px;
    font-weight: 600;
}

footer {
    background-color: rgb(43, 64, 49);
    color: rgb(171, 145, 108);
    align-self: center;
}
