body {
    background-color: rgb(171, 145, 108);
    color: rgb(64, 55, 43);
    font-size: 16px;
    font-weight: 600;
}


main {
    border: solid 10px rgb(64, 55, 43);
    background-color: rgb(113, 97, 73);
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    color: rgb(64, 55, 43);
    font-size: 35px;
    font-weight: 600;
}

footer {
    background-color: rgb(43, 64, 49);
    color: rgb(171, 145, 108);
    align-self: center;
}
#space{
    background-color: rgb(171, 145, 108);
    display: grid;
    padding:100px;
    align-content: center;
    align-items: 50%;
  }

#imageShelf1 {
    display: grid;
    margin-left: 10%;
    align-content: center;
    grid: repeat(1, 60px) / auto-flow 30%;
    color: black

  }

#shelf1 {
    display: grid;
    padding: 20px;
    grid: repeat(1, 60px) / auto-flow 30%;
    margin-left: 15%;
    align-self: center;

  }
  #space2{
    background-color: rgb(171, 145, 108);
    display: grid;
    padding:100px;
    align-content: center;
    align-items: 50%;
    /* align-items: 50%; */
  }

  #imageShelf2 {
    display: grid;
    margin-left: 10%;
    align-content: center;
    grid: repeat(1, 60px) / auto-flow 33%;
    color: black


  }

#shelf2 {
  display: grid;
  padding: 20px;
  grid: repeat(1, 60px) / auto-flow 33%;
  margin-left: 15%;
  align-self: center;

  }






