body {
    background-color: rgb(70, 22, 27);
    color: rgb(139, 74, 79);
    font-size: 20px;
    font: italic;
    font-weight: 600;
}


main {
    border: solid 10px rgb(98, 65, 47);
    background-color: rgb(109, 43, 49);
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    color: rgb(139, 74, 79);
    font-size: 50px;
    font-weight: 600;
}

footer {
    background-color: rgb(43, 64, 49);
    color: rgb(171, 145, 108);
    align-self: center;
}